body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* heading start */
header{
    padding: 8px 0;
    box-shadow: 5px 5px 5px #EEF0F3;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 10%;
    float: left;
}

.logo img{
    width: 100%;
}

.menu{
    float: right;
    width: 45%;
    margin: 18px auto;
}

.menu ul{
    float: right;
}

.menu ul li{
    float: left;
    list-style: none;
}

.menu ul li a{
    font-size: 20px;
    font-weight: 500;
    color: #0F2656;
    text-decoration: none;
    margin: 0px 20px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.menu ul li a:hover{

        border-bottom: 2px solid #0F2656;
        transition: 0.2s ease-in-out;
}
.menu ul li:last-child a{
    margin: 0;
}

/* header end */

/* banner start */
.banner{
   padding: 60px;
}
.container2{
    width: 50%;
    margin: 0 auto;
}
.b-content{
    text-align: center;
}
.b-content h1{
    color: #0F2656;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}
.b-content h2{
    color: #008AFF;
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}

.b-content p{
    font-size: 16px;
    font-weight: 400;
    color: #0F2656;
    line-height: 23px;
    word-spacing: 1px;
    margin: 0 15px;
}

.b-img{
    width: 75%;
    margin: 0 auto;
}

.b-img img{
    width: 100%;
}
/* banner end */
/* completed projects started */
.success{
    padding: 60px;
}
.s-content{
    overflow: hidden;
    display: flex;
}
.s-left{
    width: 55%;
    text-align: right;
    padding: 0 10px 0 20px;
}
.s-left h2{
    font-size: 40px;
    font-weight: 700;
    color: #F15767;
    margin: 0 0 10px;
}
.s-left p{
    font-size: 17px;
    font-weight: 400;
    color: #0F2656;
    margin: 0;
    line-height: 25px;
    word-spacing: 1px;
    
}
.s-right{
    width: 45%;
    float: right;
    padding: 0 20px 0 10px;
}
.s-right h1{
    font-weight: 700px;
    font-size: 42px;
    color: #0F2656;
    line-height: 50px;
    margin: 0;
}
/* completed projects ended */

/* feature start */

.feature{
    padding: 60px;
}
.f-content{
    overflow: hidden;
}
.f-single{
    width: 29%;
    color: #0F2656;
    padding: 30px 1% 45px;
    float: left;
    margin-right: 2.5%;
}
.f-single:last-child{
    margin-right: 0;
}
.pink{
    background-color: #FDEBED;
}
.green{
    background-color: #EBF9F4;
}
.yellow{
    background-color: #FFF7E8;
}
.f-img img{
    width: 100%;
}
.f-single h2{
    font-size: 22px;
    font-weight: 700px;
    margin: 20px 0;
}
.f-single p{
    font-size: 16px;
    font-weight: 300px;
    margin: 0;
}
/* feature end */

/* footer start */
footer{
    background-color: #008AFF;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: small;
    font-weight: 100;
    word-spacing: 2px;
}

.lepd{
    word-spacing: 5px;
    letter-spacing: 3px;
    font-weight: 900;
}
/* footer end */